<a href="https://colab.research.google.com/github/matheusmf1/ECM514_Data_Science/blob/master/Atividade02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# All imports are here

import pandas as pd
import numpy as np

from collections import Counter

In [ ]:
# load dataFrame
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data Science Class/DataSets/Atividade02/vgsales.csv')

In [ ]:
# To verify the content
df.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

# Informações Gerais

In [ ]:
df.shape

(16598, 11)

In [ ]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [ ]:
# Valores não nulos
df.count()

Rank            16598
Name            16598
Platform        16598
Year            16327
Genre           16598
Publisher       16540
NA_Sales        16598
EU_Sales        16598
JP_Sales        16598
Other_Sales     16598
Global_Sales    16598
dtype: int64

In [ ]:
# Mostra quantas ocorrencias nulas existem em cada coluna
df.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

# Resumo sobre os dados

In [ ]:
df.sum()

Rank                                                    137773446
Name            Wii SportsSuper Mario Bros.Mario Kart WiiWii S...
Platform        WiiNESWiiWiiGBGBDSWiiWiiNESDSDSGBWiiWiiX360PS3...
Year                                                  3.27586e+07
Genre           SportsPlatformRacingSportsRole-PlayingPuzzlePl...
NA_Sales                                                  4392.95
EU_Sales                                                  2434.13
JP_Sales                                                  1291.02
Other_Sales                                                797.75
Global_Sales                                              8920.44
dtype: object

In [ ]:
# Isso é uma Series, é uma coluna do seu DataFrame
df['Global_Sales'].sum()

8920.44

In [ ]:
df.min()

Rank                      1
Name            '98 Koshien
Platform               2600
Year                   1980
Genre                Action
NA_Sales                  0
EU_Sales                  0
JP_Sales                  0
Other_Sales               0
Global_Sales           0.01
dtype: object

In [ ]:
df.max()

Rank                                   16600
Name            ¡Shin Chan Flipa en colores!
Platform                                XOne
Year                                    2020
Genre                               Strategy
NA_Sales                               41.49
EU_Sales                               29.02
JP_Sales                               10.22
Other_Sales                            10.57
Global_Sales                           82.74
dtype: object

In [ ]:
df['Global_Sales'].max()

82.74

In [ ]:
# Para retornar o index da ocorrência 
df['Global_Sales'].idxmax()

0

In [ ]:
df['Global_Sales'].idxmin()

15980

In [ ]:
df.mean()

Rank            8300.605254
Year            2006.406443
NA_Sales           0.264667
EU_Sales           0.146652
JP_Sales           0.077782
Other_Sales        0.048063
Global_Sales       0.537441
dtype: float64

In [ ]:
df.median()

Rank            8300.50
Year            2007.00
NA_Sales           0.08
EU_Sales           0.02
JP_Sales           0.00
Other_Sales        0.01
Global_Sales       0.17
dtype: float64

In [ ]:
df.describe()

               Rank          Year  ...   Other_Sales  Global_Sales
count  16598.000000  16327.000000  ...  16598.000000  16598.000000
mean    8300.605254   2006.406443  ...      0.048063      0.537441
std     4791.853933      5.828981  ...      0.188588      1.555028
min        1.000000   1980.000000  ...      0.000000      0.010000
25%     4151.250000   2003.000000  ...      0.000000      0.060000
50%     8300.500000   2007.000000  ...      0.010000      0.170000
75%    12449.750000   2010.000000  ...      0.040000      0.470000
max    16600.000000   2020.000000  ...     10.570000     82.740000

[8 rows x 7 columns]

## Ordenação

In [ ]:
df_sorted = df.sort_values( by = 'JP_Sales', ascending = False )

In [ ]:
df_sorted.head()

    Rank                           Name  ... Other_Sales  Global_Sales
4      5       Pokemon Red/Pokemon Blue  ...        1.00         31.37
12    13    Pokemon Gold/Pokemon Silver  ...        0.71         23.10
1      2              Super Mario Bros.  ...        0.77         40.24
6      7          New Super Mario Bros.  ...        2.90         30.01
20    21  Pokemon Diamond/Pokemon Pearl  ...        1.37         18.36

[5 rows x 11 columns]

In [ ]:
df.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [ ]:
# A prioridade da ordenação é a primeira coluna

df_sorted_NAJP = df.sort_values(by = ['NA_Sales', 'JP_Sales'], ascending = False)
df_sorted_NAJP.head()

   Rank               Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1         Wii Sports      Wii  ...      3.77        8.46        82.74
1     2  Super Mario Bros.      NES  ...      6.81        0.77        40.24
9    10          Duck Hunt      NES  ...      0.28        0.47        28.31
5     6             Tetris       GB  ...      4.22        0.58        30.26
2     3     Mario Kart Wii      Wii  ...      3.79        3.31        35.82

[5 rows x 11 columns]

# Fatiamento

In [ ]:
df.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [ ]:
# iloc para fatiar de acordo com os indices e gera um novo DataFrame
df_fatiado = df.iloc[:4]
df_fatiado.describe()

           Rank         Year  NA_Sales  ...  JP_Sales  Other_Sales  Global_Sales
count  4.000000     4.000000   4.00000  ...   4.00000     4.000000      4.000000
mean   2.500000  2002.000000  25.54250  ...   4.41250     3.875000     47.950000
std    1.290994    11.401754  12.33794  ...   1.61564     3.256772     23.383952
min    1.000000  1985.000000  15.75000  ...   3.28000     0.770000     33.000000
25%    1.750000  2000.750000  15.82500  ...   3.64750     2.412500     35.115000
50%    2.500000  2007.000000  22.46500  ...   3.78000     3.135000     38.030000
75%    3.250000  2008.250000  32.18250  ...   4.54500     4.597500     50.865000
max    4.000000  2009.000000  41.49000  ...   6.81000     8.460000     82.740000

[8 rows x 7 columns]

In [ ]:
# linha e coluna 
df.iloc[:3, :5]

   Rank               Name Platform    Year     Genre
0     1         Wii Sports      Wii  2006.0    Sports
1     2  Super Mario Bros.      NES  1985.0  Platform
2     3     Mario Kart Wii      Wii  2008.0    Racing

In [ ]:
# linhas e colunas não sequenciais
df.iloc[:3, [2,5]]

  Platform Publisher
0      Wii  Nintendo
1      NES  Nintendo
2      Wii  Nintendo

# Selecionando Colunas

In [ ]:
df_Genre_Global = df[ ['Genre', 'Global_Sales' ] ]
df_Genre_Global.head()

          Genre  Global_Sales
0        Sports         82.74
1      Platform         40.24
2        Racing         35.82
3        Sports         33.00
4  Role-Playing         31.37

# Bolleans e Filtros

In [ ]:
df.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [ ]:
df_fatiado = df.iloc[ :4 ]
df_fatiado.head()

   Rank               Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1         Wii Sports      Wii  ...      3.77        8.46        82.74
1     2  Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3     Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4  Wii Sports Resort      Wii  ...      3.28        2.96        33.00

[4 rows x 11 columns]

In [ ]:
df_fatiado[ [True, False, False, True] ]

   Rank               Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1         Wii Sports      Wii  ...      3.77        8.46        82.74
3     4  Wii Sports Resort      Wii  ...      3.28        2.96        33.00

[2 rows x 11 columns]

In [ ]:
df['NA_Sales'] > 8

0         True
1         True
2         True
3         True
4         True
         ...
16593    False
16594    False
16595    False
16596    False
16597    False
Name: NA_Sales, Length: 16598, dtype: bool

In [ ]:
df_filtrado = df[ df.NA_Sales > 20 ]
df_fatiado.mean()

Rank               2.5000
Year            2002.0000
NA_Sales          25.5425
EU_Sales          14.1225
JP_Sales           4.4125
Other_Sales        3.8750
Global_Sales      47.9500
dtype: float64

## Retornar vendas Globais por Gênero e falar qual a mais rentavel

In [ ]:
df.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [ ]:
# Filtrar e ordenar o df por Global_Sales e Generos

df_filtrado_GS = df.sort_values( by = ['Global_Sales','Genre'], ascending = False )
df_filtrado_GS.head()

   Rank                      Name Platform  ...  JP_Sales Other_Sales Global_Sales
0     1                Wii Sports      Wii  ...      3.77        8.46        82.74
1     2         Super Mario Bros.      NES  ...      6.81        0.77        40.24
2     3            Mario Kart Wii      Wii  ...      3.79        3.31        35.82
3     4         Wii Sports Resort      Wii  ...      3.28        2.96        33.00
4     5  Pokemon Red/Pokemon Blue       GB  ...     10.22        1.00        31.37

[5 rows x 11 columns]

In [ ]:
df.groupby( [ 'Genre','Global_Sales' ] ).first()

                        Rank  ... Other_Sales
Genre    Global_Sales         ...
Action   0.01          15983  ...        0.00
         0.02          14916  ...        0.00
         0.03          14105  ...        0.00
         0.04          13459  ...        0.00
         0.05          12823  ...        0.00
...                      ...  ...         ...
Strategy 3.70            336  ...        0.10
         4.21            268  ...        0.23
         4.83            218  ...        0.59
         5.01            205  ...        0.33
         5.45            166  ...        0.09

[2492 rows x 9 columns]

In [ ]:
df[ df.Genre == 'Sports' ].Global_Sales.sum()

1330.93

In [ ]:
df[ df.Genre == 'Action'].Global_Sales.sum()

1751.18

In [ ]:
df_vendas_genero = df.groupby( [ 'Genre' ] )[ 'Global_Sales' ].mean().sort_values( ascending = False )
df_vendas_genero

Genre
Platform        0.938341
Shooter         0.791885
Role-Playing    0.623233
Racing          0.586101
Sports          0.567319
Fighting        0.529375
Action          0.528100
Misc            0.465762
Simulation      0.452364
Puzzle          0.420876
Strategy        0.257151
Adventure       0.185879
Name: Global_Sales, dtype: float64

In [ ]:
df_melhores = df[ df['Global_Sales'] > 1 ]

df_vendas_genero = ( df_melhores.groupby(['Genre'])['Global_Sales'].mean() ).sort_values(ascending = False)
df_vendas_genero

Genre
Platform        3.362923
Role-Playing    3.158756
Shooter         3.093952
Puzzle          2.857636
Misc            2.826786
Racing          2.701620
Sports          2.640268
Action          2.529028
Simulation      2.448495
Fighting        2.223443
Adventure       2.213810
Strategy        2.126129
Name: Global_Sales, dtype: float64

### Seleção de Colunas - Filter

In [ ]:
df[ [ 'Genre','Global_Sales','JP_Sales' ] ]

              Genre  Global_Sales  JP_Sales
0            Sports         82.74      3.77
1          Platform         40.24      6.81
2            Racing         35.82      3.79
3            Sports         33.00      3.28
4      Role-Playing         31.37     10.22
...             ...           ...       ...
16593      Platform          0.01      0.00
16594       Shooter          0.01      0.00
16595        Racing          0.01      0.00
16596        Puzzle          0.01      0.00
16597      Platform          0.01      0.00

[16598 rows x 3 columns]

In [ ]:
df_novo = df.filter( [ 'Genre','Platform','Global_Sales','JP_Sales'] )
df_novo

              Genre Platform  Global_Sales  JP_Sales
0            Sports      Wii         82.74      3.77
1          Platform      NES         40.24      6.81
2            Racing      Wii         35.82      3.79
3            Sports      Wii         33.00      3.28
4      Role-Playing       GB         31.37     10.22
...             ...      ...           ...       ...
16593      Platform      GBA          0.01      0.00
16594       Shooter       GC          0.01      0.00
16595        Racing      PS2          0.01      0.00
16596        Puzzle       DS          0.01      0.00
16597      Platform      GBA          0.01      0.00

[16598 rows x 4 columns]

#### Manipulações com map, apply, filter, lambda

In [ ]:
df_novo[ 'Platform' ].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

In [ ]:
df_novo['Vendor'] = df_novo['Platform'].map( { 'Wii':'Nintendo', 'NES':'Nintendo', 'GB':'Nintendo', 'DS':'Nintendo', 'X360':'Microsoft', 'PS3':'Sony', 'PS2':'Sony', 'SNES':'Nintendo', 'GBA':'Nintendo',
       '3DS':'Nintendo', 'PS4':'Sony', 'N64':'Nintendo', 'PS':'Sony', 'XB':'Microsoft', 'PC':'PC', '2600':'Amiga', 'PSP':'Sony', 'XOne':'Microsoft', 'GC':'Nintendo',
       'WiiU':'Nintendo', 'GEN':'Sega', 'DC':'Sega', 'PSV':'Sony', 'SAT':'Sega', 'SCD':'Sega', 'WS':'Sega', 'NG':'Sega', 'TG16':'Sega',
       '3DO':'Nintendo', 'GG':'Sega', 'PCFX':'Sega' } )
df_novo

              Genre Platform  Global_Sales  JP_Sales    Vendor
0            Sports      Wii         82.74      3.77  Nintendo
1          Platform      NES         40.24      6.81  Nintendo
2            Racing      Wii         35.82      3.79  Nintendo
3            Sports      Wii         33.00      3.28  Nintendo
4      Role-Playing       GB         31.37     10.22  Nintendo
...             ...      ...           ...       ...       ...
16593      Platform      GBA          0.01      0.00  Nintendo
16594       Shooter       GC          0.01      0.00  Nintendo
16595        Racing      PS2          0.01      0.00      Sony
16596        Puzzle       DS          0.01      0.00  Nintendo
16597      Platform      GBA          0.01      0.00  Nintendo

[16598 rows x 5 columns]

In [ ]:
df_novo.groupby( 'Vendor' ).sum().sort_values( by = 'Global_Sales', ascending = False )

           Global_Sales  JP_Sales
Vendor
Sony            3580.45    471.06
Nintendo        3521.93    758.61
Microsoft       1379.28     14.15
PC               258.82      0.17
Amiga             97.08      0.00
Sega              82.88     47.03

In [ ]:
# funciona em somente uma coluna
df_novo[ 'JP_Sales' ].map( lambda x: x * 300 )

0        1131.0
1        2043.0
2        1137.0
3         984.0
4        3066.0
          ...
16593       0.0
16594       0.0
16595       0.0
16596       0.0
16597       0.0
Name: JP_Sales, Length: 16598, dtype: float64

In [ ]:
# funciona com multiplas colunas
df_novo[ 'JP_Sales' ].apply( lambda x: x / 100 )

0        0.0377
1        0.0681
2        0.0379
3        0.0328
4        0.1022
          ...
16593    0.0000
16594    0.0000
16595    0.0000
16596    0.0000
16597    0.0000
Name: JP_Sales, Length: 16598, dtype: float64

In [ ]:
df_novo['Media Sales'] = df_novo[ ['JP_Sales','Global_Sales' ] ].apply( np.mean, axis = 1 )
df_novo['Media Sales']

0        43.255
1        23.525
2        19.805
3        18.140
4        20.795
          ...
16593     0.005
16594     0.005
16595     0.005
16596     0.005
16597     0.005
Name: Media Sales, Length: 16598, dtype: float64

In [ ]:
df_novo[ ['JP_Sales','Global_Sales' ] ].applymap( lambda x: x * 1000 )

       JP_Sales  Global_Sales
0        3770.0       82740.0
1        6810.0       40240.0
2        3790.0       35820.0
3        3280.0       33000.0
4       10220.0       31370.0
...         ...           ...
16593       0.0          10.0
16594       0.0          10.0
16595       0.0          10.0
16596       0.0          10.0
16597       0.0          10.0

[16598 rows x 2 columns]

In [ ]:
df_novo[ ['JP_Sales','Global_Sales' ] ]

       JP_Sales  Global_Sales
0          3.77         82.74
1          6.81         40.24
2          3.79         35.82
3          3.28         33.00
4         10.22         31.37
...         ...           ...
16593      0.00          0.01
16594      0.00          0.01
16595      0.00          0.01
16596      0.00          0.01
16597      0.00          0.01

[16598 rows x 2 columns]

#### Query String

In [ ]:
df_novo.query( 'Genre == "Sports" & Vendor == "Nintendo"'  )

        Genre Platform  Global_Sales  JP_Sales    Vendor  Media Sales
0      Sports      Wii         82.74      3.77  Nintendo       43.255
3      Sports      Wii         33.00      3.28  Nintendo       18.140
13     Sports      Wii         22.72      3.60  Nintendo       13.160
14     Sports      Wii         22.00      2.53  Nintendo       12.265
85     Sports      Wii          8.06      0.66  Nintendo        4.360
...       ...      ...           ...       ...       ...          ...
16544  Sports       DS          0.01      0.01  Nintendo        0.010
16578  Sports      3DS          0.01      0.00  Nintendo        0.005
16579  Sports      N64          0.01      0.00  Nintendo        0.005
16581  Sports      Wii          0.01      0.00  Nintendo        0.005
16587  Sports       DS          0.01      0.01  Nintendo        0.010

[793 rows x 6 columns]