<a href="https://colab.research.google.com/github/matheusmf1/ECM514_Data_Science/blob/master/weather_AUS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Neural Networks - Weather AUS

# Import libraries

In [0]:
#Biblioteca para facilitar a separação dos dataset em dados de traino e teste
from sklearn.model_selection import train_test_split
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
#Pandas é uma biblioteca que facilita a ingestão e manipulação de dados
import pandas as pd
import seaborn as sns
sns.set(color_codes=True)

#TensorFlow
import tensorflow as tf
from tensorflow import keras
from keras.layers import Dense
from keras.models import Sequential


#enabling to plot using plotlib in the notebook
%matplotlib inline

In [0]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data Science Class/DataSets/weatherAUS.csv')

In [3]:
df.head()

         Date Location  MinTemp  ...  RainToday  RISK_MM  RainTomorrow
0  2008-12-01   Albury     13.4  ...         No      0.0            No
1  2008-12-02   Albury      7.4  ...         No      0.0            No
2  2008-12-03   Albury     12.9  ...         No      0.0            No
3  2008-12-04   Albury      9.2  ...         No      1.0            No
4  2008-12-05   Albury     17.5  ...         No      0.2            No

[5 rows x 24 columns]

In [4]:
df.drop( ['RISK_MM'], axis = 1, inplace = True)
df.head()

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No            No
1  2008-12-02   Albury      7.4  ...     24.3         No            No
2  2008-12-03   Albury     12.9  ...     23.2         No            No
3  2008-12-04   Albury      9.2  ...     26.5         No            No
4  2008-12-05   Albury     17.5  ...     29.7         No            No

[5 rows x 23 columns]

In [5]:
df.shape

(142193, 23)

In [6]:
df.isnull().sum()

Date                 0
Location             0
MinTemp            637
MaxTemp            322
Rainfall          1406
Evaporation      60843
Sunshine         67816
WindGustDir       9330
WindGustSpeed     9270
WindDir9am       10013
WindDir3pm        3778
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Cloud9am         53657
Cloud3pm         57094
Temp9am            904
Temp3pm           2726
RainToday         1406
RainTomorrow         0
dtype: int64

In [7]:
df.describe( include='all' )

              Date  Location  ...  RainToday  RainTomorrow
count       142193    142193  ...     140787        142193
unique        3436        49  ...          2             2
top     2016-11-24  Canberra  ...         No            No
freq            49      3418  ...     109332        110316
mean           NaN       NaN  ...        NaN           NaN
std            NaN       NaN  ...        NaN           NaN
min            NaN       NaN  ...        NaN           NaN
25%            NaN       NaN  ...        NaN           NaN
50%            NaN       NaN  ...        NaN           NaN
75%            NaN       NaN  ...        NaN           NaN
max            NaN       NaN  ...        NaN           NaN

[11 rows x 23 columns]

# First try

In this case we dropped every feature that most of it's values are NaN.

In [0]:
df1 = df.drop(labels = ['Date','Location','Evaporation','Sunshine','Cloud3pm','Cloud9am'] ,axis = 1 )

In [9]:
df1.head()

   MinTemp  MaxTemp  Rainfall  ... Temp3pm  RainToday RainTomorrow
0     13.4     22.9       0.6  ...    21.8         No           No
1      7.4     25.1       0.0  ...    24.3         No           No
2     12.9     25.7       0.0  ...    23.2         No           No
3      9.2     28.0       0.0  ...    26.5         No           No
4     17.5     32.3       1.0  ...    29.7         No           No

[5 rows x 17 columns]

In [10]:
df1['RainToday'] = df1['RainToday'].map( { 'No':0 , 'Yes':1 } )
df1['RainTomorrow'] = df1['RainTomorrow'].map( { 'No':0 , 'Yes':1 } )


df1.shape

(142193, 17)

In [0]:
df1.dropna(inplace = True)

In [12]:
df1.shape

(112925, 17)

## Defining the Categorical

In [0]:
categorical = ['WindGustDir','WindDir9am','WindDir3pm']

In [0]:
df1 = pd.get_dummies( df1,columns = categorical,drop_first=True )

In [15]:
df1.head()

   MinTemp  MaxTemp  Rainfall  ...  WindDir3pm_W  WindDir3pm_WNW  WindDir3pm_WSW
0     13.4     22.9       0.6  ...             0               1               0
1      7.4     25.1       0.0  ...             0               0               1
2     12.9     25.7       0.0  ...             0               0               1
3      9.2     28.0       0.0  ...             0               0               0
4     17.5     32.3       1.0  ...             0               0               0

[5 rows x 59 columns]

In [0]:
from sklearn.preprocessing import StandardScaler

In [0]:
sc = StandardScaler()

In [18]:
x = df1.drop(labels = ['RainTomorrow'],axis = 1)
x.shape

(112925, 58)

In [0]:
y = df1['RainTomorrow']

In [20]:
x = sc.fit_transform(x)
x

array([[ 0.11756741, -0.10822071, -0.20666127, ..., -0.27515781,
         3.90999267, -0.27186642],
       [-0.84180219,  0.20684494, -0.27640495, ..., -0.27515781,
        -0.25575496,  3.67827705],
       [ 0.03761995,  0.29277194, -0.27640495, ..., -0.27515781,
        -0.25575496,  3.67827705],
       ...,
       [-1.44940294,  0.23548728, -0.27640495, ..., -0.27515781,
        -0.25575496, -0.27186642],
       [-1.16159206,  0.46462594, -0.27640495, ..., -0.27515781,
         3.90999267, -0.27186642],
       [-0.77784422,  0.4789471 , -0.27640495, ..., -0.27515781,
        -0.25575496, -0.27186642]])

In [0]:
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size = 0.2, random_state = 40 )

## Training values as ANN

In [0]:
classifier1 = Sequential([
                         Dense( units = 30, activation = 'relu', input_dim = 58 ),
                         Dense( units = 30, activation = 'relu' ),
                         Dense( units = 30, activation = 'relu' ),
                         Dense( units = 1, activation='sigmoid' ) 
                         
])

In [0]:
classifier1.compile(optimizer = 'adam',loss = 'binary_crossentropy',metrics = ['accuracy'])

In [24]:
classifier1.fit(x_train,y_train,epochs = 50,batch_size=10)

Epoch 1/50
90340/90340 [==============================] - 39s 433us/step - loss: 0.3586 - accuracy: 0.8449
Epoch 2/50
90340/90340 [==============================] - 37s 414us/step - loss: 0.3386 - accuracy: 0.8535
Epoch 3/50
90340/90340 [==============================] - 37s 410us/step - loss: 0.3332 - accuracy: 0.8564
Epoch 4/50
90340/90340 [==============================] - 37s 411us/step - loss: 0.3298 - accuracy: 0.8569
Epoch 5/50
90340/90340 [==============================] - 38s 420us/step - loss: 0.3271 - accuracy: 0.8582
Epoch 6/50
90340/90340 [==============================] - 37s 412us/step - loss: 0.3253 - accuracy: 0.8591
Epoch 7/50
90340/90340 [==============================] - 37s 412us/step - loss: 0.3232 - accuracy: 0.8602
Epoch 8/50
90340/90340 [==============================] - 38s 416us/step - loss: 0.3221 - accuracy: 0.8611
Epoch 9/50
90340/90340 [==============================] - 37s 412us/step - loss: 0.3201 - accuracy: 0.8620
Epoch 10/50
90340/90340 [==============================] - 37s 412us/step - loss: 0.3189 - accuracy: 0.8624
Epoch 11/50
90340/90340 [==============================] - 37s 411us/step - loss: 0.3178 - accuracy: 0.8621
Epoch 12/50
90340/90340 [==============================] - 37s 409us/step - loss: 0.3166 - accuracy: 0.8639
Epoch 13/50
90340/90340 [==============================] - 38s 418us/step - loss: 0.3154 - accuracy: 0.8635
Epoch 14/50
90340/90340 [==============================] - 37s 407us/step - loss: 0.3149 - accuracy: 0.8633
Epoch 15/50
90340/90340 [==============================] - 37s 410us/step - loss: 0.3138 - accuracy: 0.8639
Epoch 16/50
90340/90340 [==============================] - 37s 413us/step - loss: 0.3131 - accuracy: 0.8640
Epoch 17/50
90340/90340 [==============================] - 37s 407us/step - loss: 0.3123 - accuracy: 0.8645
Epoch 18/50
90340/90340 [==============================] - 37s 409us/step - loss: 0.3117 - accuracy: 0.8649
Epoch 19/50
90340/90340 [==============================] - 37s 410us/step - loss: 0.3109 - accuracy: 0.8651
Epoch 20/50
90340/90340 [==============================] - 37s 409us/step - loss: 0.3107 - accuracy: 0.8661
Epoch 21/50
90340/90340 [==============================] - 37s 415us/step - loss: 0.3098 - accuracy: 0.8659
Epoch 22/50
90340/90340 [==============================] - 37s 411us/step - loss: 0.3092 - accuracy: 0.8659
Epoch 23/50
90340/90340 [==============================] - 37s 411us/step - loss: 0.3086 - accuracy: 0.8669
Epoch 24/50
90340/90340 [==============================] - 37s 415us/step - loss: 0.3078 - accuracy: 0.8667
Epoch 25/50
90340/90340 [==============================] - 37s 409us/step - loss: 0.3080 - accuracy: 0.8669
Epoch 26/50
90340/90340 [==============================] - 37s 406us/step - loss: 0.3075 - accuracy: 0.8665
Epoch 27/50
90340/90340 [==============================] - 41s 456us/step - loss: 0.3066 - accuracy: 0.8668
Epoch 28/50
90340/90340 [==============================] - 38s 422us/step - loss: 0.3060 - accuracy: 0.8678
Epoch 29/50
90340/90340 [==============================] - 38s 419us/step - loss: 0.3058 - accuracy: 0.8674
Epoch 30/50
90340/90340 [==============================] - 39s 429us/step - loss: 0.3057 - accuracy: 0.8672
Epoch 31/50
90340/90340 [==============================] - 38s 422us/step - loss: 0.3045 - accuracy: 0.8677
Epoch 32/50
90340/90340 [==============================] - 38s 424us/step - loss: 0.3048 - accuracy: 0.8675
Epoch 33/50
90340/90340 [==============================] - 38s 422us/step - loss: 0.3032 - accuracy: 0.8684
Epoch 34/50
90340/90340 [==============================] - 38s 422us/step - loss: 0.3038 - accuracy: 0.8682
Epoch 35/50
90340/90340 [==============================] - 38s 420us/step - loss: 0.3031 - accuracy: 0.8691
Epoch 36/50
90340/90340 [==============================] - 38s 421us/step - loss: 0.3027 - accuracy: 0.8684
Epoch 37/50
90340/90340 [==============================] - 38s 420us/step - loss: 0.3023 - accuracy: 0.8690
Epoch 38/50
90340/90340 [==============================] - 39s 429us/step - loss: 0.3020 - accuracy: 0.8686
Epoch 39/50
90340/90340 [==============================] - 38s 421us/step - loss: 0.3019 - accuracy: 0.8699
Epoch 40/50
90340/90340 [==============================] - 38s 423us/step - loss: 0.3016 - accuracy: 0.8691
Epoch 41/50
90340/90340 [==============================] - 38s 419us/step - loss: 0.3010 - accuracy: 0.8690
Epoch 42/50
90340/90340 [==============================] - 38s 420us/step - loss: 0.3005 - accuracy: 0.8703
Epoch 43/50
90340/90340 [==============================] - 38s 420us/step - loss: 0.3003 - accuracy: 0.8698
Epoch 44/50
90340/90340 [==============================] - 38s 421us/step - loss: 0.3002 - accuracy: 0.8704
Epoch 45/50
90340/90340 [==============================] - 38s 419us/step - loss: 0.2998 - accuracy: 0.8700
Epoch 46/50
90340/90340 [==============================] - 39s 427us/step - loss: 0.2996 - accuracy: 0.8702
Epoch 47/50
90340/90340 [==============================] - 38s 420us/step - loss: 0.2993 - accuracy: 0.8713
Epoch 48/50
90340/90340 [==============================] - 38s 422us/step - loss: 0.2989 - accuracy: 0.8704
Epoch 49/50
90340/90340 [==============================] - 38s 420us/step - loss: 0.2991 - accuracy: 0.8699
Epoch 50/50
90340/90340 [==============================] - 38s 419us/step - loss: 0.2982 - accuracy: 0.8705

In [0]:
y_pred = classifier1.predict_classes(x_test)
y_train_pred = classifier1.predict_classes(x_train)

In [29]:
print('Training Accuracy: ', accuracy_score(y_train,y_train_pred) )
print('Testing Accuracy: ', accuracy_score(y_test,y_pred) )

Training Accuracy:  0.874319238432588
Testing Accuracy:  0.8454283816692495